include rsxpy/*
include rsxpy/raid/*
include rsxpy/include/rsxbuild/*
include rsxpy/include/rsxf/*
include rsxpy/include/rsxgui/*
include rsxpy/include/rsxio/*
include rsxpy/include/rsxmath/*
include rsxpy/include/rsxmixer/*
include rsxpy/include/rsxos/*
include rsxpy/include/rsxrand/*
include rsxpy/include/rsxraylib/*
include rsxpy/include/rsxsdl2/*
include rsxpy/include/rsxsocket/*
include rsxpy/include/rsxstd/*
include rsxpy/include/rsxstr/*
include rsxpy/include/rsxsys/*
include rsxpy/include/rsxterm/*
include rsxpy/include/rsxthread/*
include rsxpy/include/rsxtime/*
